/* header */
.masterhead {
  background: url(../img/bg.png) no-repeat center;
  height: 670px;
  width: 100%;
  position: relative;
}
.masterhead .logo {
  margin-top: 25%;
}
.masterhead .rubberBand {
  animation-iteration-count: infinite;
}
.masterhead .btn-link {
  position: relative;
  text-transform: uppercase;
  margin-top: 156px;
  border: 2px #FFF solid;
  width: 257px;
  height: 44px;
  line-height: 22px;
  font-family: "Montserrat", SemiBold;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}
.masterhead .btn-link .icon_play {
  position: absolute;
}

.play {
  display: inline-flex;
}
.play i {
  right: 50%;
  position: relative;
  margin-right: 6px;
}

.row {
  margin: auto;
}

.wrapLogo {
  display: inline-block;
  border: 2px solid white;
  font-weight: bold;
  padding: 0px 12px;
  float: left;
  height: 30px;
  line-height: 27px;
  margin-left: 10%;
  top: 23px;
  color: white !important;
  text-transform: uppercase;
}
.wrapLogo strong {
  color: #de700a;
}

.navbar {
  margin-left: -1px;
}

.navbar li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 2px;
  font-size: 14px;
  top: 23px;
  padding: 8px;
  margin: auto;
}
.navbar li .spectacle {
  color: #de700a !important;
}

.bg-light {
  background-color: #5263ba !important;
}

.active {
  width: 155px;
}

.nav-link {
  color: #FFF !important;
}

/* intro */
#block {
  padding: 62px 0px;
}
#block .intro {
  font-size: 14px;
  font-family: "Montserrat";
  color: #37334a;
  justify-content: center;
  text-align: justify;
}
#block .citation {
  position: relative;
  width: 100%;
  font-size: 21px;
  color: #5161a8;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding-bottom: 0;
  font-style: italic;
}
#block .guillemetUp {
  margin-bottom: 5%;
}
#block .guillemetDown {
  margin-left: 90%;
}
#block .btn-simple {
  border-bottom: solid 2px #5161a8;
  color: #5161a8;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5%;
  text-decoration: none;
  font-weight: bold;
}

/* shop */
#shop {
  height: 263px;
  background: #ebebeb;
}
#shop .container {
  height: 100%;
}
#shop .shop_billet {
  position: absolute;
  top: -28px;
  right: -10%;
}
#shop .shop_img {
  padding: 30px 10px;
}
#shop .btn-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #5161a8;
  text-decoration: none;
  margin-left: 30%;
}

.btn-lg {
  text-align: center;
  border: 2px solid #435190;
}
.btn-lg a {
  color: #435190;
  text-transform: uppercase;
}

.hack_overflow {
  float: right;
}
.hack_overflow .relative {
  position: relative;
}

.communiquer_text {
  color: white;
  background: #5161a8;
}

/* section insta */
.pictocom {
  padding: 62px;
  text-align: center;
}

.title_insta {
  font-size: 38px;
  font-family: "Montserat", sans-serif;
  font-size: bold;
  text-align: center;
}

.firstCol, .secondCol, .thirdCol {
  text-align: center;
}

.text_insta {
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 3%;
}

.insta {
  margin-bottom: 30px;
  width: 100%;
}

.textplusphoto {
  color: #37334a;
  text-transform: uppercase;
  font-weight: bold;
  width: 20%;
  border-bottom: 2px #37334a solid;
  margin: auto;
}

.photo {
  width: 100%;
}

.btn-link:hover {
  text-decoration: none;
}

.instatext {
  padding: 30px;
}

/* section carousel */
#section_final {
  background-color: #fdce38;
  height: 500px;
}

.slicky {
  top: 50px;
  width: 630px;
  height: 400px;
  background: white;
  margin: auto;
}

.textslicky {
  text-align: justify;
}

.guillemetslicky {
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
}

.slick-list {
  top: 45%;
}

.slick-dots {
  left: 0;
}

.boxslicky {
  position: relative;
  top: 17px;
}

/* footer */
#footer {
  background: #18214a;
  padding-top: 37px;
  height: 165px;
}
#footer .mail {
  color: orange !important;
  font-size: 14px;
}

.contactfooter {
  margin-top: 10px;
  float: right;
  color: #FFF;
  text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .logo {
    width: 80%;
    margin-top: 40% !important;
    margin-left: 18%;
  }

  .communiquer {
    text-align: center;
    margin-top: 25%;
    margin-left: 18%;
  }

  .masterhead .btn-link {
    left: 50%;
    margin-left: -59px;
    width: 170px;
    font-size: 10px;
    font-weight: bold;
  }

  .wrapLogo {
    font-size: 10px;
  }

  /* section1 */
  .intro {
    margin-top: 10%;
  }

  .shop_billet {
    width: 50%;
  }

  /* section shop */
  .shop_billet {
    display: none;
  }

  /* section footer */
  #footer {
    height: 290px;
  }
  #footer .logo_footer {
    width: 50%;
    margin-left: 28%;
    margin-bottom: 5%;
  }
  #footer .text_footer {
    font-size: 14px;
    font-family: "Monserrat";
  }
  #footer .mail {
    font-size: 14px !important;
  }
  #footer .contactfooter {
    text-align: center;
    margin-top: 0;
  }

  /* section insta */
  #section_insta .insta {
    width: 90%;
  }
  #section_insta .title_insta {
    text-align: center;
    font-size: 16px !important;
  }
  #section_insta .text_insta {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapLogo {
    margin-left: 0;
    font-size: 8px;
  }

  /* intro */
  .citation {
    padding-bottom: 10%;
  }

  /* section shop */
  .shop_billet {
    right: -6% !important;
    margin-right: 0;
  }

  .btn_shop {
    width: 284px;
  }

  /* section footer */
  #footer {
    height: 350px;
  }
  #footer .container {
    padding-top: 8%;
  }
  #footer .text_footer {
    text-align: center;
    font-size: 14px;
  }
  #footer .mail {
    font-size: 14px;
  }
  #footer .contactfooter {
    text-align: center;
    margin-top: 0;
  }

  #section_insta .insta {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 80%;
    margin-top: 30% !important;
    margin-left: 60% !important;
  }

  .shop_billet {
    display: none;
  }

  #shop .btn-link {
    margin-left: 38%;
  }

  #accueil .btn-teaser {
    right: 35%;
    width: 172px;
  }
}

/*# sourceMappingURL=index.css.map */
