/* header */

.masterhead {
    background: url(../img/bg.png) no-repeat center;
    height: 670px;
    width: 100%;
    position: relative;

    .logo {
        margin-top: 25%;
    }

    .btn-link {
        position: relative;
        text-transform: uppercase;
        margin-top: 156px;    
        border: 2px #FFF solid;
        width: 257px;
        height: 44px;
        line-height: 22px;
        font-family: 'Montserrat', SemiBold;
        font-size: 14px;
        color: #FFF;
        text-decoration: none;
        
        .icon_play {
            position: absolute;
        }
        
    }
}

.play {
    display: inline-flex;


    i {
        right: 50%;
        position: relative;
        margin-right: 6px;
    }
}

.row {
    margin: auto;
}

.wrapLogo {
    display: inline-block;
    border: 2px solid white; 
    font-weight: bold;
    padding: 0px 12px;
    float: left;
    height: 30px;
    line-height: 27px;
    margin-left: 10%;
    top: 23px;
    color: white !important;
    text-transform: uppercase;


    strong {
        color: #de700a;
    }
}
.navbar {
    margin-left: -1px;
}
.navbar li {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 2px;
    font-size: 14px;
    top: 23px;
    padding: 8px;
    margin: auto;

    .spectacle {
        color: #de700a !important;
    }
}

.bg-light {
    background-color:rgb(82, 99, 186) !important;
}

.active {
    width: 155px;
}

.nav-link {
    color: #FFF !important;
}

/* footer */

#footer {
    background: #18214a;
    padding-top: 37px;
    height: 165px;

    .mail {
        color:orange !important;
        font-size: 14px;
    }
}

.contactfooter {
    margin-top: 10px;
    float: right;
    color: #FFF;
    text-align: right;
}

/* shop */

#shop {
    height: 263px;
    background: #ebebeb;

    .container {
        height: 100%;
    }

    .shop_billet {
        position: absolute;
        top: -28px;
        right: -50%;
        margin-right: 342px;
    }
    
    .shop_img {
        padding: 30px 10px;
    }

    .btn-link {
        text-transform: uppercase;
        font-weight: bold;
        color: #5161a8;
        text-decoration: none;
        margin-left: 26%;
    }
}

.btn-lg {
    text-align: center;
    border: 2px solid #435190;

    a {
        color: #435190;
        text-transform: uppercase;
    }
}




.hack_overflow {
    float: right;

    .relative {
        position: relative;
    }
}

.communiquer_text {
    color: rgb(255, 255, 255);
    background: #5161a8;
}

/* intro */

#block {
    padding: 62px 0px;

    .intro {
        font-size: 14px;
        font-family: 'Montserrat';
        color: #37334a;
        justify-content: center;
        text-align: justify;
    }

    .citation {
        position: relative;
        width: 100%;
        font-size: 21px;
        color: #5161a8;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        padding-bottom: 0;
        font-style: italic;
    }

    .guillemetUp {
        margin-bottom: 5%;
    }

    .guillemetDown {
        margin-left: 90%;
    }

    .btn-simple {
        border-bottom: solid 2px #5161a8;
        color: #5161a8;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 5%;
    }

    .btn-simple {
        text-decoration: none;
        font-weight: bold;
    }

}

/* section insta */

.pictocom {
    padding: 62px;
    text-align: center;
}

.title_insta {
    font-size: 38px;
    font-family: 'Montserat', sans-serif;
    font-size: bold;
    text-align: center;
}

.firstCol, .secondCol, .thirdCol {
    text-align: center;
}

.text_insta {
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 3%;
}

.insta {
    margin-bottom: 30px;
    width: 100%;
}

.textplusphoto {
    color: #37334a;
    text-transform: uppercase;
    font-weight: bold;
    width: 20%;
    border-bottom: 2px #37334a solid;
    margin-left: 40%;

}

.photo {
    width: 100%;
    
}

.btn-link:hover {
    text-decoration: none;
}



.instatext {
    padding: 30px;
    
}

/* section carousel */

#section_final {
    background-color: #fdce38;
    height: 500px;
}

.slicky {
    top: 50px;
    width: 630px;
    height: 400px;
    background: white;
    margin: auto;
}

.textslicky {
    text-align: justify;
}

.guillemetslicky {
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 0;

}

.slick-list {
    top: 45%;
}

.slick-dots {
    left: 0;
}

.boxslicky {
    position: relative;
    top: 17px;
}


// Extra small devices (portrait phones, less than 576px)
@media screen and (min-width: 320px) and (max-width: 414px) { 
    .logo {
        width: 235px;
        height: 129px;
    }

    .communiquer {
        text-align: center;
        margin-top: 25%;
        margin-left: 18%;
        
    }

    .masterhead .btn-link {
        left: 50%;
        margin-left: -59px;
        width: 170px;
        font-size: 10px;
        font-weight: bold;

    }

    .wrapLogo {
        font-size: 10px;
    }


    /* section1 */

    .intro{
        margin-top: 10%;
    } 

    .shop_billet {
        width: 50%;
    }

    /* section shop */

    .shop_billet {
        display: none;
    }

    /* section footer */

    #footer {
        height: 290px;

        .logo_footer {
            width: 50%;
            margin-left: 28%;
            margin-bottom: 5%;
        }

        .text_footer {
            font-size: 14px;
            font-family: 'Monserrat';
        }

        .mail {
            font-size: 14px !important;

        }

        .contactfooter {
            text-align: center;
            margin-top: 0;
        }
    }

    /* section insta */

    #section_insta {

        .insta {
            width: 90%;
        }

        .title_insta {
            text-align: center;
            font-size: 16px !important;
        }

        .text_insta {
            font-size: 10px;
        }
    }


    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 568px) and (max-width: 812px) { 

}

// medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 80%;
        margin-top: 1% !important;
    }

    .wrapLogo {
        margin-left: 0;
    }

    .communiquer {
        text-align: center;
        margin-top: 15%;
        margin-left: 45%;
        
    }

    .citation {
        padding-bottom: 10%;
    }

    .btn-link {
        left: 0;
    }

    .btn-teaser {
        
    }

    .wrapLogo {
        font-size: 8px;
    }

    /* section shop */

    .shop_billet {
        display: none;
    }

    .btn_shop {
        width: 284px;
    }

    /* section footer */
    
    #footer {
        height: 350px;

        .container {
            padding-top: 8%;
        }

        .text_footer {
            text-align: center;
            font-size: 14px;
        }

        .mail {
            font-size: 14px ;
        }

        .contactfooter {
            text-align: center;
            margin-top: 0;
        }
    }

    #section_insta {

        .insta {
            width: 100%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}